
<style>
label {
    margin-bottom: 0px;
}

</style>

<div class='panel-body'>
    <div class='row' style="margin-bottom:4px">
        <div class='col-md-4'>
            <input type='text' placeholder='Filter by' [(ngModel)]='listFilter' />
        </div>
    </div>

    <div class='has-error' *ngIf='errorMessage'>
        {{errorMessage}}
    </div>


    <table class='table' *ngIf='events && events.length'>
        <thead>
            <tr>
                <th class="col-xs-6 col-sm-2"><label (click)="headerClicked($event)" name="eventStart">Event Start</label></th>
                <th class="col-xs-6 col-sm-2"><label (click)="headerClicked($event)" name="eventName">Event Name</label></th>
                <th class="col-xs-6 col-sm-2"><label (click)="headerClicked($event)" name="eventType">Event Type</label></th>
                <th class="col-xs-6 col-sm-2 hidden-xs"><label (click)="headerClicked($event)" name="eventCity">Event City</label></th>
                <th class="col-xs-6 col-sm-2 hidden-xs"><label (click)="headerClicked($event)" name="eventCountry">Event City</label></th>
                <th class="col-xs-6 col-sm-2 hidden-xs"><label (click)="headerClicked($event)" name="eventCost">Event Cost</label></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let event of events | pipeeventFilter:listFilter'>
                <td class="col-xs-6 col-sm-2">{{event.eventStart}}</td>
                <td class="col-xs-6 col-sm-2"><a [routerLink]="['/edit', event.id]">{{event.eventName}}</a></td>
                <td class="col-xs-6 col-sm-2">{{event.eventType}}</td>
                <td class="col-xs-6 col-sm-2 hidden-xs">{{event.eventCity}}</td>
                <td class="col-xs-6 col-sm-2 hidden-xs">{{event.eventCountry}}</td>
                <td class="col-xs-6 col-sm-2 hidden-xs">{{event.eventCost}}</td>
            </tr>
        </tbody>
    </table>   

</div>

<div class="panel-footer" style="position: fixed; bottom: 0px; width: 100%; height: 50px;">
    <button class="btn btn-primary" [routerLink]="['/edit', 0]">
        New
    </button>
    <button class="btn btn-default" [routerLink]="['/about']" style="float: right">
        About 
    </button>
</div>