<form class="form-horizontal"
        novalidate
        (ngSubmit)="saveEvent()"
        [formGroup]="eventForm">
    <div class="panel-body">
        <fieldset>
            <div class="form-group"
                [ngClass]="{'has-error': displayMessage.eventName }">
                <label class="col-md-2 control-label" for="eventNameId">
                    Event Name
                </label>

                <div class="col-md-8">
                    <input class="form-control"
                            type="text"
                            placeholder="Name (required)"
                            formControlName="eventName" />
                    <span class="help-block" *ngIf="displayMessage.eventName">
                        {{displayMessage.eventName}}
                    </span>
                </div>
            </div>
            <div class="form-group"
                [ngClass]="{'has-error': displayMessage.eventType }">
                <label class="col-md-2 control-label" for="eventTypeId">
                    Event Type
                </label>
        
                <div class="col-md-8">
                        <select class="form-control" 
                                formControlName="eventType">
                            <option *ngFor="let eventType of eventTypes" [value]="eventType">
                                {{eventType}}
                            </option>
                        </select>
                    <span class="help-block" *ngIf="displayMessage.eventType">
                        {{displayMessage.eventType}}
                    </span>
                </div>
            </div>
            <div class="has-error" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
        </fieldset>
    </div>
    <div class="panel-footer" style="position: fixed; bottom: 0px; width: 100%; height: 60px;">
        <div class="form-group">
            <button class="btn btn-primary"
                    type="submit"
                    style="width:80px;margin-right:10px"
                    [disabled]='!eventForm.valid'>
                Save
            </button>
            <a *ngIf="eventIdFromRouter > 0" 
                class="btn btn-default"
                style="width:80px"
                (click)="deleteEvent()">
                Delete
            </a>
            <a class="btn btn-default"
                style="width:80px"
                (click)="gotoEventList()">
                EventList
            </a>
            <a *ngIf="eventIdFromRouter === 0"
                class="btn btn-default"
                style="width:80px"
                (click)="generateRandomEvent()">
                Generate
            </a>
            <span class='has-error' *ngIf='statusMessage'>
                {{statusMessage}}
            </span>
        </div>
    </div>
</form>