<div *ngIf='event'>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <tbody>
                    <tr></tr>
                    <tr>Event Name: {{event.eventName}}</tr>
                    <tr>Event Type: {{event.eventType}}</tr>
                    <tr>Event Start: {{event.eventStart}}</tr>
                    <tr>Event End: {{event.eventEnd}}</tr>
                    <tr>Event City: {{event.eventCity}}</tr>
                    <tr>Event State: {{event.eventState}}</tr>
                    <tr>Event Country: {{event.eventCountry}}</tr>
                    <tr>Event Cost: {{event.eventCost}}</tr>
                    <tr>Event Comment: {{event.eventComment}}</tr>
                </tbody>
            </table>   
        </div>
    </div>

    <div class='panel-footer' style="position: fixed; bottom: 0px; width: 100%; height: 60px;">
        <button class="btn btn-default" [routerLink]="['/eventlist']" style="width:80px">
            Back
        </button>
        <a class="btn btn-primary" [routerLink]="['/eventedit', event.id]" style="width:80px;margin-left:10px">
            Edit
        </a>
    </div>
</div>